#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
fqdn: ${hostname}.lab4.local

users:
  - default
  - name: ansible
    groups: [sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}
    lock_passwd: true

ssh_pwauth: true
disable_root: true

package_update: true
package_upgrade: false

packages:
  - python3
  - sudo
  - openssh-server

runcmd:
  - systemctl enable ssh
  - systemctl start ssh
